/* Full application */
@font-face {
  font-family: 'Lexend-Light';
  src: url('./../font/Lexend-Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Lexend-Medium';
  src: url('./../font/Lexend-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Lexend-Bold';
  src: url('./../font/Lexend-Bold.ttf');
  font-display: swap;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Lexend-Medium;
  height: 100%;
  width: 100%;
}

body.modal-open {
  overflow-y: hidden !important;
}

a {
  cursor: pointer;
}

.grayscale {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  cursor: pointer;
}

/* Disable grayscale on hover */
.grayscale:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  /* box-shadow: inset 0 0 2px grey;  */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #E0E0E0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #AEAEAE;
}

/* Navbar */
.navbar {
  font-size: 1.2rem;
  transition: 0.4s;
  z-index: 999;
  background: linear-gradient(#000000aa, #00000000);
  font-family: Lexend-Light;
}
  
.navbar-logo {
  max-height: 8vh;
  height: 8vh;
  width: auto;
}

.nav-link {
  opacity: 0.75;
  margin-left: 50px;
  color: #fff !important;
}

.nav-link:hover {
  opacity: 1;
}

.navbar .nav-item .dropdown-menu {
  display: none;
}

.navbar .nav-item:hover .dropdown-menu {
  display: block;
}

.navbar .nav-link {
  color: #fff;
}

.dropdown-item {
  color: #252E61 !important;
}

.navbar .fa-bars {
  color: #fff;
}

/* Particles */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: -1 !important;
}

/* Cookie policy */
.cookie-notification {
  padding: 20px 30px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #ccc;
  box-shadow: 0px 2px 10px #888888;
  z-index: 999;
  background-color: #fff;
}

.btn-close-cookie-notification {
  background-color: #252E61;
  border: none;
  color: white;
  padding: 13px;
  cursor: pointer;
  max-height: 40px;
  font-size: 12px;
  position: relative;
}

/* Buttons */
.btn {
  font-family: Lexend-Light;
}

.btn-white {
  background: transparent;
  border-color: #fff;
  color: #fff;
  transition: all 300ms ease-in-out;
}

.btn-dark,
.btn-send:not([disabled]) {
  background: #252E61;
  color: #fff;
  transition: all 300ms ease-in-out;
  border: 0px;
}

.btn-sm {
  padding: 1%;
}

.btn-bg {
  padding: 3%;
}

.btn-white:hover{
  color:#252E61;
  background-color: #fff;
}

.btn-dark:hover{
  color:#252E61;
  background-color: #fff;
  border-color: #fff;
}

.btn-send:hover:not([disabled]){
  color:#fff;
  background-color: #44B9AA;
  border-color: #44B9AA;
}

.btn-2{
  background-color: #44B9AA;
  border-color: #44B9AA;
}

.btn-2:hover{
  background-color: #fff;
  border-color: #fff;
}

/* Map */
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.grecaptcha-badge { visibility: hidden; }

/* Main sections */
.section {
  width: 100vw;
}

#section0 {
  background: url('./../img/transparencia.webp') no-repeat left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: #252E61;
}

.title {
  font-family: Lexend-Bold;
}

.subtitle {
  font-family: Lexend-Light;
}

.txt-inicio {
  padding: 12% 0 5% 5%
}

.btns-inicio {
  padding: 2% 0 0 5%
}

/* Section 1 */
#section1 {
  padding: 5%;
  color: #252E61;
}

.slogan {
  color: #252E61;
  margin: 2% 0 2% 0;
  font-family: Lexend-Light;
}

.video {
  max-width: 100vw;
  width: 100%;
}

.text p {
  font-family: Lexend-Light;
}

.card {
  display: block;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
  transition: box-shadow .25s;
}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  overflow: hidden;
}

.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 

.card-content {
  padding:15px;
  text-align:left;
}

.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.50em;
}

.card-title a {
  color: #000;
  text-decoration: none !important;
}

.card-read-more {
  border-top: 1px solid #D4D4D4;
  background-color: #44B9AA;
}

.card-read-more a {
  text-decoration: none !important;
  color: #252E61;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

.card-read-more a:hover {
  color: #fff;
}

.card-rounded {
  border-radius: 25px !important;
}

.rounded-top {
  border-radius: 25px 25px 0 0 !important;
}

.rounded-bottom {
  border-radius: 0 0 25px 25px !important;
  bottom: 0;
  height: 40px;
}

.zoomWrapper {
  overflow: hidden;
  margin: 0 auto 40px auto;
  /* -- Prevent flicker -- */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.zoomWrapper img {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.zoomWrapper img:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

.card-read-more:hover {
  font-size: 1.2em;
  background-color: #252E61;
}

/* Section 2 */
.carousel-text {
  position: absolute;
  top: 50px;
  width: 100%;
  font-family: Lexend-Light;
  color: #FFF;
}

.carousel {
  width: 100%;
  height: 100%;
  margin: 5% 0;
}

.carousel .carousel-inner, .carousel .carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color:#fff;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: Lexend-Light;
}

.mask h3 {
  font-size: xx-large;
}

.mask p {
  font-size: large;
}

/* Logo slider */

.slick-track::before,
.slick-track::after {
  display: table;
  content: '';
}

.slick-track::after {
  clear: both;
}

.slick-track {
  padding: 1rem 0;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide img {
  height: 100%;
  width: auto;
  max-height: 65px;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

/* .slick-arrow {
  position: absolute;
  top: 50%;
  background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
  color: #fff;
  filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
  border: none;
  width: 2rem;
  height: 1.5rem;
  text-indent: -10000px;
  margin-top: -16px;
  z-index: 99;
}

.slick-arrow.slick-next {
  right: -40px;
  transform: rotate(180deg);
}

.slick-arrow.slick-prev {
  left: -40px;
} */

/* Hover effect */

.overlay-logo {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  z-index: 9999;
}

.slide:hover .overlay-logo {
  opacity: 1;
}

.text-logo {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Media Queries */

@media (max-width: 768px) {
  .slick-arrow {
    width: 1rem;
    height: 1rem;
  }
}

/* Section 3 */
#section3 {
  color: white;
  height: 84vh;
}

.marbyt-logo {
  width: 75%;
  height: auto;
  margin-top: 10%;
}

.contact_section {
  height: 84vh;
  background-color: #252E61;
}

.text-contact {
  padding: 5%;
  margin-bottom: 5%;
}

.copyright {
  font-family: Lexend-Light;
  height: 8vh;
  text-align: center;
  background-color: #252E61;
  color: #fff;
}

.copyright a {
  color: #fff !important;
  text-decoration: none !important;
}

/* Modals */
#modalAboutTitle, #modalConfirmTitle {
  padding: 10% 0 10% 0;
  background-color: #252E61;
  background: url('./../img/horizontal_preferente_blanco_color_marino.svg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Section Team */
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  margin-top: 50px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #252E61;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #252E61;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #252E61;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #252E61;
  background-color: #f7f5ec;
}

/* Projects section */
.post-container {
  width: 70%;
  height: 100%;
  margin: 50px auto 0px auto;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
}

.post-container.active {
  opacity: 1;
  height: auto;
}

.post-container .date {
  font-family: Roboto, sans-serif;
  color: #44B9AA;
}

.post-container .post-content {
  width: 90%;
  font-family: Open Sans, sans-serif;
  font-weight: normal;
}

/* Secciones externas */
.section_out {
  padding: 5%;
  margin-top: 50px;
  color: #252E61;
  width: 100vw;
  min-height: 100vh;
}

.texto-corto {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* número de líneas de texto que quieres mostrar */
  -webkit-box-orient: vertical;
}

.expanded {
  overflow: auto;
  text-overflow: clip;
  display: block;
  -webkit-line-clamp: initial;
}




